// Fonts
$google-fonts: 'Source Sans Pro', 'Montserrat';
$body-font-family: nth($google-fonts, 1), sans-serif;
$header-font-family: nth($google-fonts, 2), sans-serif;

// Colors
$white-color: #ffffff;
$text-color: #2e3436;
$text-color-lighter: lighten($text-color, 40%);
$accent-color: #3465a4;
$accent-color-darker: darken($accent-color, 10%);
$accent-color-lighter: lighten($accent-color, 10%);
$cancel-color: #cc0000;
$cancel-color-darker: darken($cancel-color, 10%);
$cancel-color-lighter: lighten($color: $cancel-color, $amount: 10%);

// Sizes
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.5;
$base-space: $base-line-height;
$small-space: $base-space / 2;

// Transitions
$transition-duration: 200ms;
$transition-easing: ease;

// Breakpoints
$first-break-width: $base-space * 20;
$second-break-width: $base-space * 32;

// Placeholders
%transition {
  transition: {
    property: all;
    duration: $transition-duration;
    easing: $transition-easing;
  }
}

%h-tag {
  font: {
    family: $header-font-family;
    weight: normal;
  }
}

// Custom functions
@function replace-spaces($string) {
  $match: ' ';
  $replacement: '+';
  $index: str-index($string, $match);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replacement +
      replace-spaces(str-slice($string, $index + 1));
  }
  
  @return $string;
}

$google-fonts-str: '';
@each $font in $google-fonts {
  $google-fonts-str: str-insert($google-fonts-str, replace-spaces($font) + '|', 1);
}

// Imports
@import url('//fonts.googleapis.com/css?family=' + $google-fonts-str);

// Base
body {
  font: {
    family: $body-font-family;
    size: $base-font-size;
  }
  line-height: $base-line-height;
  color: $text-color;
  margin: 0;
}

h1 {
  @extend %h-tag;
  font-size: $base-font-size * 1.8;
  margin: 0 0 $small-space 0;
}

h2 {
  @extend %h-tag;
  font-size: $base-font-size * 1.4;
}

p {
  margin: $base-space 0;
}

strong {
  font-weight: normal;
  text-decoration: underline;
}

// Header
header {
  display: table;
  width: 100%;
  padding: $base-space 0 $small-space 0;
  background-color: $accent-color;
  color: $white-color;
  @media screen and (min-width: $second-break-width) {
    padding: $base-space 0;
  }

  h1 {
    padding-left: $base-space;
    margin-bottom: $small-space;
    @media screen and (min-width: $second-break-width) {
      float: left;
      padding-left: $base-space;
      margin-bottom: 0;
    }
  }

  nav {
    @media screen {
      @media (min-width: $first-break-width) {
        margin-top: $base-space;
      }

      @media (min-width: $second-break-width) {
        float: right;
        margin-top: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      
      li {
        display: block;
        padding: $small-space $base-space;
        color: $white-color;
        text-decoration: none;
        cursor: pointer;
        @extend %transition;
        @media screen {
          @media (min-width: $first-break-width) {
            display: inline;
          }

          @media (min-width: $second-break-width) {
            padding: $base-space;
          }
        }
        
        &:hover {
          background-color: $accent-color-lighter;
        }
      }
    }
  }
}

// Main
main {
  padding: 0 $base-space;
  margin: $small-space * 3 auto;
  @media screen {
    @media (min-width: $first-break-width) {
      max-width: $base-space * 25;
    }

    @media (min-width: $second-break-width) {
      margin: $base-space * 2 auto;
    }
  }

  h2 {
    color: $text-color-lighter;
    margin: 0 0 $small-space 0;
  }

  a {
    color: $accent-color;
    @extend %transition;

    &:hover {
      color: $accent-color-lighter;
    }
  }

  blockquote {
    position: relative;
    font-size: $base-font-size * 1.2;
    margin-left: $base-space * 2.4;
    
    &::after {
      content: '“';
      font-size: $base-font-size * 5;
      position: absolute;
      top: 0.2em;
      left: -0.5em;
      color: $text-color-lighter;
      z-index: -1;
    }
  }

  .buttons {
    text-align: center;
    margin: $base-space * 1.5 auto;
    
    button {
      font: {
        family: $body-font-family;
        size: $base-font-size;
      }
      color: $white-color;
      min-width: $base-space * 7;
      padding: $small-space * 1.2 0;
      margin: $small-space $base-space;
      border: 1px solid;
      border-radius: $small-space;
      cursor: pointer;
      @extend %transition;

      &.okay {
        background-color: $accent-color;
        border-color: $accent-color;
        box-shadow: 0 $small-space / 2 0 0 $accent-color-darker;

        &:hover {
          background-color: $accent-color-lighter;
          border-color: $accent-color-lighter;
        }
      }

      &.cancel {
        background-color: $cancel-color;
        border-color: $cancel-color;
        box-shadow: 0 $small-space / 2 0 0 $cancel-color-darker;

        &:hover {
          background-color: $cancel-color-lighter;
          border-color: $cancel-color-lighter;
        }
      }
    }
  }
}
